.tcen{
    text-align: center;
}
.bg{
    background-color: rgb(16, 0, 39);
    
}
.mxauto{
    margin: auto;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.itm-cen{
    align-items: center;
}
.row{
    margin: 4px 0px;
}
#eq{
    padding: 14px 21px; 
    border-radius: 100px; 
    color: white; 
    background-color: rgb(255, 85, 0); 
    font-size: 25px;
}
#eq:hover{
    padding: 12px 19px;
    margin-right: 2.5px;
    margin-left: 2.5px;
    margin-top: 4px;
    font-size: 23px;
    transition: 0.1s ease-in-out;
}